* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.container {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.resetBtn {
  cursor: pointer;
}
